.login_container {
  display: flex;
  min-height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
}

.login_container article {
  width: 400px;
  height: 400px;
}

.login_container article h1 {
  line-height: 50px;
  text-align: center;
}

.login_container article label {
  display: block;
  line-height: 40px;
  font-size: 18px;
}

.login_container article p {
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  display: block;
}

.login_container a {
  display: block;
  text-align: center;
  margin: 1rem 0;
  text-transform: capitalize;
  color: inherit;
}

.login_container .forget_btn {
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .login_container {
    width: 90%;
    margin: auto;
  }
}
